.stats-dashboard {
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Adjust the gap to suit your spacing preference */
  justify-content: center;
  padding-top: 1rem;
}

button {
  margin-bottom: 8px; /* Add space below each button */
}
